body {
  background-color: whitesmoke;
  font-family: monospace;
  padding: 50px 300px 100px 300px;
}

.img-circle {
  border-radius: 50%;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-border {
  border: 5px solid white;
}

a:link {
  color: orange;
}

a:hover {
  font-size: 110%;
}

a:visited {
  color: white;
}
