/** Fonts **/
@font-face {
  font-family: "SF Mono Regular";
  src:  url("fonts/sfmono-regular.woff2") format("woff2"),
        url("fonts/sfmono-regular.woff") format("woff"),
        url("fonts/sfmono-regular.ttf") format("truetype"),
        url("fonts/sfmono-regular.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Regular Italic";
  src:  url("fonts/sfmono-regularitalic.woff2") format("woff2"),
        url("fonts/sfmono-regularitalic.woff") format("woff"),
        url("fonts/sfmono-regularitalic.ttf") format("truetype"),
        url("fonts/sfmono-regularitalic.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Light";
  src:  url("fonts/sfmono-light.woff2") format("woff2"),
        url("fonts/sfmono-light.woff") format("woff"),
        url("fonts/sfmono-light.ttf") format("truetype"),
        url("fonts/sfmono-light.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Light Italic";
  src:  url("fonts/sfmono-lightitalic.woff2") format("woff2"),
        url("fonts/sfmono-lightitalic.woff") format("woff"),
        url("fonts/sfmono-lightitalic.ttf") format("truetype"),
        url("fonts/sfmono-lightitalic.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Medium";
  src:  url("fonts/sfmono-medium.woff2") format("woff2"),
        url("fonts/sfmono-medium.woff") format("woff"),
        url("fonts/sfmono-medium.ttf") format("truetype"),
        url("fonts/sfmono-medium.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Medium Italic";
  src:  url("fonts/sfmono-mediumitalic.woff2") format("woff2"),
        url("fonts/sfmono-mediumitalic.woff") format("woff"),
        url("fonts/sfmono-mediumitalic.ttf") format("truetype"),
        url("fonts/sfmono-mediumitalic.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Semibold";
  src:  url("fonts/sfmono-semibold.woff2") format("woff2"),
        url("fonts/sfmono-semibold.woff") format("woff"),
        url("fonts/sfmono-semibold.ttf") format("truetype"),
        url("fonts/sfmono-semibold.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Semibold Italic";
  src:  url("fonts/sfmono-semibolditalic.woff2") format("woff2"),
        url("fonts/sfmono-semibolditalic.woff") format("woff"),
        url("fonts/sfmono-semibolditalic.ttf") format("truetype"),
        url("fonts/sfmono-semibolditalic.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Bold";
  src:  url("fonts/sfmono-bold.woff2") format("woff2"),
        url("fonts/sfmono-bold.woff") format("woff"),
        url("fonts/sfmono-bold.ttf") format("truetype"),
        url("fonts/sfmono-bold.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Bold Italic";
  src:  url("fonts/sfmono-bolditalic.woff2") format("woff2"),
        url("fonts/sfmono-bolditalic.woff") format("woff"),
        url("fonts/sfmono-bolditalic.ttf") format("truetype"),
        url("fonts/sfmono-bolditalic.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Bold";
  src:  url("fonts/sfmono-bold.woff2") format("woff2"),
        url("fonts/sfmono-bold.woff") format("woff"),
        url("fonts/sfmono-bold.ttf") format("truetype"),
        url("fonts/sfmono-bold.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Bold Italic";
  src:  url("fonts/sfmono-bolditalic.woff2") format("woff2"),
        url("fonts/sfmono-bolditalic.woff") format("woff"),
        url("fonts/sfmono-bolditalic.ttf") format("truetype"),
        url("fonts/sfmono-bolditalic.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Heavy";
  src:  url("fonts/sfmono-heavy.woff2") format("woff2"),
        url("fonts/sfmono-heavy.woff") format("woff"),
        url("fonts/sfmono-heavy.ttf") format("truetype"),
        url("fonts/sfmono-heavy.svg") format("svg");
}

@font-face {
  font-family: "SF Mono Heavy Italic";
  src:  url("fonts/sfmono-heavyitalic.woff2") format("woff2"),
        url("fonts/sfmono-heavyitalic.woff") format("woff"),
        url("fonts/sfmono-heavyitalic.ttf") format("truetype"),
        url("fonts/sfmono-heavyitalic.svg") format("svg");
}

body {
  background-color: whitesmoke;
  font-family: monospace;
  padding: 50px 300px 100px 300px;
}

.img-circle {
  border-radius: 50%;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-border {
  border: 8px solid white;
}

h1 {
  text-align: center;
  font-family: "SF Mono Medium", monospace;
}
