:root {
  --darkcolor: rgb(20, 20, 20)
}

body {
  background-color: black;
  color: lightgray;
}

h1 {
  color: white;
}

.main {
  background-color: var(--darkcolor);
}

#profile {
  border: 5px solid var(--darkcolor);
}

.social-icon {
  fill: whitesmoke;
}
